body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.navbarLink .active {
    background-color: #26c3fc;
    color: white;
}

.navbarLink {
    text-decoration: none;
    color: white;
    padding: 0.5em;
    font-weight: 700;
    font-size: 1.1em;
}
